@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

*{
  cursor: none;
  user-select: none;
}

input{
  outline: none;
}
